*{

}
body {
    font-family: 'Arial', sans-serif;
    width: 1000px;
    margin: 0 auto;
    padding: 5px;
}
ol, ul {
    list-style: none;
}

#nav {
    position:relative;
    width:890px;
    margin:0 auto;
}

ul#navigation {
    margin:0px auto;
    position:relative;
    float:left;
    width: 890px;
    background-color: #0AB6C8;
}

ul#navigation li {
    display:inline;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;

}

ul#navigation li a {
    padding:10px 25px;
    color:#616161;
    text-decoration:none;
    display:inline-block;
    background-color: #0AB6C8;
    -webkit-transition:color 0.2s linear, background 0.2s linear;
    -moz-transition:color 0.2s linear, background 0.2s linear;
    -o-transition:color 0.2s linear, background 0.2s linear;
    transition:color 0.2s linear, background 0.2s linear;
}

ul#navigation li a:hover {
    background-color: #f5f5f5;
    color: #0AB6C8;
}

ul#navigation li:hover > a {
    background:#fff;
}


ul#navigation li:hover > ul
{
    visibility:visible;
    opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    visibility:hidden;
    position: absolute;
    z-index: 99999;
    background-color:#f5f5f5;
    min-width: 120px;
    box-shadow: 0px 11px 18px 0px rgba(0,0,0,0.5);
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation ul {
    top: 43px;
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px;
}

ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;

}

ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:170px;
}

ul#navigation li a.first {
    border-left: 0 none;
}

ul#navigation li a.last {
    border-right: 0 none;
}

.jquery-carousel {
    width: 650px;
    height: 380px;
    overflow: hidden;
    margin: 3px 190px auto;
    padding: 10px 0px;
    box-shadow: 0px 11px 18px 0px rgba(0,0,0,0.5);
}
.jquery-carousel ul {
    position: relative;
    height: 50px;
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.jquery-carousel ul li {
    position: absolute;
    float: left;
    margin-right: 1px;
    background: #CCCCCC;
    text-align: center;
}
/*--------------------------------*/


#slider .slides {
    display: block;
    width: 720px;
    height: 400px;
    margin: 0;
    padding: 0;

}


.prev-ovrlay{
    text-decoration: none;
    position: relative;
    float: left;
    font-size: 85px;
    bottom: 265px;
    left: 195px;
    color: whitesmoke;
    opacity: 0.6;

}
.for-ovrlay{
    text-decoration: none;
    position: relative;
    font-size: 85px;
    bottom: 265px;
    left: 725px;
    float: left;
    color: whitesmoke;
    opacity: 0.6;
}

.floating-btn{
    font-size: 40px;
    opacity: 0.5;
}
.floating-btn:hover{
    cursor: pointer;
}
.btn-indicators{
    border-radius: 50%;
    color: black;
    z-index: 3;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: black;
    opacity: 0.7;
    box-shadow: 0 0 5px whitesmoke;
}

.btn-indicators:hover{
    cursor: pointer;
}
.indicators{
    text-align:center;
    position: relative;
    top: -45px;
}
.w3-red{
    color:#fff;
    background-color:#f44336;
}






